{% extends 'base.html' %} {% block title %} Login {% endblock %}

{% load widget_tweaks %} {% load django_bootstrap5 %}

{% block content %}
    <div class="container login-margin">
        <div style="text-align: center;">
            <h1 class="heading-projects mb-5">Log-in</h1>
            {% if form.errors %}
                {% bootstrap_alert "Incorrect Username or Password" alert_type="danger"%}

            {% else %}

            {% endif %}
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form action="" method="post" class="form m-auto">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% bootstrap_button "Submit" button_type="submit" button_class="btn btn-custom" %}
                    <p><a class="mt-3" href="{% url 'authapp:password_reset' %}">Forgotten your password?</a></p>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
